body {
  margin: 0;
  padding: 0;
  background-color: #0C0C0C;
}
.container-idioma {
  display: flex;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  margin-left: 20px;
}

#language-select {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  appearance: none;
  padding: 5px 10px;
  cursor: pointer;
  outline: none; /* Elimina el borde de enfoque en algunos navegadores */
}

#language-select option {
  background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
  color: white; /* Color del texto de las opciones */
}

#language-select option:hover {
  background-color: rgba(0, 0, 0, 1); /* Fondo más oscuro cuando el ratón está sobre la opción */
}

.flecha-icon {
  display: flex;
  align-items: center;
}

.flecha-jpg {
  width: 12px; /* Ajusta el tamaño según sea necesario */
  height: 12px; /* Ajusta el tamaño según sea necesario */
  margin-left: 5px; /* Espacio entre el select y la flecha */
}



.bar-info {
  background: #181818;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 18.5px 0;
  width: 100%;
  height: 56px;
  box-sizing: border-box;
}

.container-location, .container-sms, .container-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  margin-left: 20px;
}

.location-icon, .sms-icon, .idioma-jpg, .face-icon, .insta-icon {
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  margin: 0;
}

.location-jpg {
  width: 13.3px;
  height: 15.4px;
}

.location-text, .sms-text, .idioma-text, .contact-text {
  overflow-wrap: break-word;
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #FFFFFF;
  margin-left: 5px;
}

.sms-jpg {
  width: 15px;
  height: 12.8px;
}

.idioma-jpg {
  background: url('../img/bandera.png') 50% / cover no-repeat;
  width: 14px;
  height: 14px;
}

.flecha-icon {
  display: flex;
  width: 7.1px;
  height: 3.5px;
  box-sizing: border-box;
  margin-left: 5px;
}

.flecha-jpg {
  width: 7.1px;
  height: 3.5px;
}

.face-icon, .insta-icon {
  width: 15px;
  height: 15px;
  margin: 0 5px;
}

.face-jpg {
  width: 15px;
  height: 14.9px;
}

.insta-jpg {
  width: 15px;
  height: 15px;
}

.nav-bar {
  background: #181818;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 33px 104px;
  width: 100%;
  box-sizing: border-box;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 223px;
  box-sizing: border-box;
}

.logo-jpg {
  width: 803.8px;
  height: 51px;
}

.home-container-plus {
  display: flex;
  align-items: center;
  padding-right: 18px;
  box-sizing: border-box;
}

.home-container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-right: 20px;
}

.home-icon {
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}

.home-jpg {
  width: 20px;
  height: 20px;
}

.home-text {
  overflow-wrap: break-word;
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #F0B41E;
  margin-left: 5px;
}

.container-plus2 {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.about-us-text, .join-us-text, .support-text, .contact-text {
  overflow-wrap: break-word;
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  margin-right: 20px;
}

.contact-container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.slider-icon {
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  margin-left: 5px;
}

.slider-jpg {
  width: 10px;
  height: 5px;
}

.login-container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.login-button {
  border-radius: 12px;
  background: #F0B41E;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 20px;
  box-sizing: border-box;
}

.login-text {
  overflow-wrap: break-word;
  font-family: 'Manrope';
  font-weight: 800;
  font-size: 20px;
  letter-spacing: -0.4px;
  color: #0C0C0C;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fondoplus {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: -1;
}

.t1 {
  position: relative;
  margin: 20px 80px;
  align-self: flex-start;
  width: 60%; /* Ajusta este valor según sea necesario */
  box-sizing: border-box;
  z-index: 1;
}

.t1-text {
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 500;
  font-size: 40px;
  line-height: 1.25;
  color: #F0B41E;
  margin-top: 20px; /* Añadir margen superior */
}

.t2 {
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  font-size: 96px;
  line-height: 1.25;
  color: #FFFFFF;
}

.t3 {
  width: 60%; /* Ajusta este valor según sea necesario */
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 26px;
  line-height: 1.4;
  color: #8D9298;
}

.end-container {
  margin-top: 85px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; /* Cambiado a 100% */
  box-sizing: border-box;
}
.apply-container {
  margin: 58px 0 103px 0;
  margin-left: 80px !important;
  display: flex;
  width: 236px;
  height: fit-content;
  box-sizing: border-box;
}

.apply-button {
  border-radius: 70px;
  background: #F0B41E;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.apply-container-text {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.apply-text {
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.5px;
  line-height: 1.4;
  color: #010205;
}

.circule-flecha-icon {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}

.circule-flecha-jpg {
  width: 26.7px;
  height: 26.7px;
}

.end-text-container {
  background: #181818;
  position: relative;
  padding: 37.5px 62px;
  width: 750px;
  height: 195px;
  box-sizing: border-box;
  margin-left: auto; /* Pegar a la derecha */
}

.linea {
  background: #FFFFFF;
  width: 150px;
  height: 0px;
}

.end-text {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.48;
  color: #FFFFFF;
}

.content2 {
  margin-top: -20px !important;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.t1-2 {
    margin-top: 10% !important;
    position: relative;
    margin: 20px 80px;
    align-self: flex-start;
    width: 60%; /* Ajusta este valor según sea necesario */
    box-sizing: border-box;
    z-index: 1;
  }
  .contact {
    display: flex;
    flex-direction: row;
    margin-top: 15%;
    margin-left: 5%;
    margin-bottom: 2%;
    align-items: center;
    align-self: center;
  }
  
  .card {
    margin-right: 20px; /* Ajusta el margen según sea necesario */
  }
  
  .form-container {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    width: 731px;
    box-sizing: border-box;
  }
  
  .form-title-text {
    margin-bottom: 20px;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 40px;
    line-height: 2.48;
    color: #FFFFFF;
  }
  
  .form-subcontainer {
    margin-bottom: 17px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
  }

  .contac-title-plus{
    overflow-wrap: break-word;
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    font-size: 56px;
    line-height: 1.25;
    color: #FFFFFF;
  }
  
  .form-subcontainer-1, .form-subcontainer-2 {
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  
  .name-container, .phone-container, .email-container, .subject-container {
    border-radius: 30px;
    margin-right: 48px;
    display: flex;
    flex-direction: column;
    width: 335px;
    box-sizing: border-box;
  }
  
  .name-text, .phone-text, .email-text, .subject-text, .message-text {
    margin: 0 7.1px 4px 7.1px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 14px;
    line-height: 1.714;
    color: #FFFFFF;
  }
  
  .name-input, .phone-input, .email-input, .subject-input, .message-input {
    border-radius: 30px;
    border: 1px solid #55585B;
    background: #181818;
    padding: 15px 30px;
    width: 100%; /* Ajusta el ancho según sea necesario */
    box-sizing: border-box;
    color: #FFFFFF;
  }
  
  .message-input {
    padding: 26px 23px 148px 23px;
  }
  
  .name-input::placeholder, .phone-input::placeholder, .email-input::placeholder, .subject-input::placeholder, .message-input::placeholder {
    color: #55585B;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
  }
  
  .subtext-final {
    margin: 0 7px 41px 7px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 15px;
    line-height: 1.133;
    color: #F0B41E;
  }
  
  .send-button {
    border-radius: 70px;
    background: #F0B41E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 23px;
    width: fit-content;
    box-sizing: border-box;
  }
  
  .send-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 34px;
    margin-right: 10px; /* Espacio entre texto e icono */
  }
  
  .send-button-text {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 19px;
    line-height: 1.4;
    color: #0C0C0C;
    white-space: nowrap; /* Evita que el texto se divida en líneas */
  }
  
  .send-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: #0C0C0C;
    border-radius: 50%;
    box-sizing: border-box;
  }
  
  .send-jpg {
    width: 24px;
    height: 24px;
  }
  
.section2{
  display: flex;
flex-direction: row;
width: 1271px;
box-sizing: border-box;
margin-left: 60px;
margin-top: 40px;
margin-bottom: 80px;
}

.section2-info-container {
  margin: 35px 201.2px 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.section2-title-container{
  margin-bottom: 23px;
  display: flex;
  box-sizing: border-box;
}

.section2-text {
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 600;
  font-size: 72px;
  letter-spacing: -2.2px;
  line-height: 1.1;
  color: #FFFFFF;
}

.section2-subtext {
  margin-right: 50.9px;
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  color: #8D9298;
}

.section2-card {
  position: relative;
  display: flex;
  width: 443.5px;
  height: 333px;
  box-sizing: border-box;
}

.section2-cardjpg {
  backdrop-filter: blur(42px);
  border-radius: 40px;
  background: #F0F0F0;
  position: relative;
  display: flex;
  padding: 81px 21.6px 33.7px 35.5px;
  box-sizing: border-box;
}

.section-benefits {
  margin-left: 42.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}

.benefits-title {
  margin: 0 0.7px 18px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  font-size: 40px;
  color: #FFFFFF;
}

.financial-container, .timefreedom-container, .growthpotencial-container {
  border-radius: 20px;
  background: #313335;
  margin-bottom: 38px;
  display: flex;
  flex-direction: row;
  padding: 15px 0 12px 32px;
  width: 941px;
  box-sizing: border-box;
}

.financial-logo, .timefreedom-logo, .growthpotencial-logo {
  border-radius: 25.5px;
  background: #181818;
  position: relative;
  margin: 0 29px 3px 0;
  display: flex;
  padding: 10px 10px 11px 11px;
  width: 51px;
  height: 51px;
  box-sizing: border-box;
}

.financial-img, .timefreedom-img, .growthpotencial-img {
  display: flex;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}

.financial-icon, .timefreedom-icon, .growthpotencial-icon {
  width: 30px;
  height: 30px;
}

.financial-subcontainer, .timefreedom-subcontainer, .growthpotencial-subcontainer {
  position: relative;
  margin-top: 4px;
  width: 456px;
  box-sizing: border-box;
}

.financial-title, .timefreedom-title, .growthpotencial-title {
  display: block;
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.7px;
  line-height: 1.3;
  color: #FFFFFF;
  margin-bottom: 4px; /* Reducir el margen inferior */
}

.financial-subtext, .timefreedom-subtext, .growthpotencial-subtext {
  display: block;
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4; /* Ajustar la altura de la línea */
  color: #8D9298;
}

.section2-2{
  display: flex;
flex-direction: row;
width: 1271px;
box-sizing: border-box;
margin-left: 15%;
margin-top: 40px;
margin-bottom: 80px;
}
.memorable-section {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #181818;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 83.5px 81.3px 34px 79px;
  width: 1510px;
  box-sizing: border-box;
}

.memorable-container1 {
  margin: 0 0 38px 1px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}

.memorable-subcontainer {
  margin-right: 121.1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.memorable-title {
  margin-bottom: 31.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 600;
  font-size: 56px;
  letter-spacing: -1.7px;
  line-height: 1.1;
  color: #FFFFFF;
}

.memorable-subtext1{
  margin-right: 47px;
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #878C91;
}

.memorable-subtext2 {
  margin-right: 47px;
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #878C91;
  max-width: 500px; /* Ajusta según sea necesario */
}


.memorable-carrusel {
  margin-right: 1.7px;
  display: flex;
  flex-direction: row;
  column-gap: 36px;
  width: 1278px;
  box-sizing: border-box;
}

.carrusel-img {
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  width: 279px; /* Ajusta según sea necesario */
  height: 532px; /* Ajusta según sea necesario */
}

.carrusel-jpg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Bannermes{
margin-top: 20px;
margin-left: 5%;
margin-bottom: 20px;
}
.team-container {
  background: #0C0C0C;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 83.5px 81.3px 34px 79px;
  width: 1510px;
  box-sizing: border-box;
}

.team-subcontainer {
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.team-nav-text {
  display: flex;
  justify-content: space-between; /* Alinea los elementos a los extremos */
  align-items: center; /* Centra verticalmente los elementos */
  width: 100%; /* Ajusta el ancho para ocupar el espacio disponible */
  box-sizing: border-box;
}

.team-title {
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  font-size: 48px;
  letter-spacing: -1px;
  line-height: 1.333;
  color: #FFFFFF;
  margin: 0; /* Elimina márgenes */
}

.team-subtext {
  text-align: right; /* Alinea el subtítulo a la derecha */
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.5px;
  line-height: 1.4;
  color: #8D9298;
  margin: 0; /* Elimina márgenes */
  flex-shrink: 0; /* Evita que el subtítulo se reduzca */
  max-width: 30%; /* Limita el ancho máximo para controlar los saltos de línea */
}

.team-img-container {
  display: flex;
  column-gap: 0; /* Elimina el espacio horizontal entre las imágenes */
  width: fit-content;
  box-sizing: border-box;
  transform: scale(1.0); /* Ajusta el tamaño del contenedor de imágenes */
}

.teamimg1{
  width: 650px; /* Ajusta el tamaño de las imágenes */
  height: auto; /* Mantiene la proporción de las imágenes */
}

.teamimg2, .teamimg3 {
  width: 390px; /* Ajusta el tamaño de las imágenes */
  height: auto; /* Mantiene la proporción de las imágenes */
}

.whyjoin-container {
  margin-top: -100px !important; 
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 353px;
  box-sizing: border-box;
  padding: 20px;
  color:#0C0C0C;
  margin-bottom: 80px;
}

.whyjoin-title {
  font-family: 'Plus Jakarta Sans';
  font-weight: 600;
  font-size: 64px;
  letter-spacing: -1.9px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.whyjoin-subcontainer {
  display: flex;
  justify-content:space-between;
  width: 100%;
  max-width: 1200px;
}

.whyjoin-subcontainer-item {
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 346px;
  height: 271px;
  box-sizing: border-box;
}

.whyjoinimg {
  width: 80px;
  height: 80px;
  margin-bottom: 29px;
}

.whyjoinimg-subtitle {
  margin-bottom: 16px;
  font-family: 'Plus Jakarta Sans';
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.7px;
  line-height: 1.3;
  color: #010205;
}

.whyjoinimg-subtext {
  text-align: center;
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: #878C91;
}
